doctype html
html
	head
		title #{session.name}
		//
			An email present from your friends at Litmus (@litmusapp)
			Email is surprisingly hard. While this has been thoroughly tested, your mileage may vary.
			It's highly recommended that you test using a service like Litmus (http://litmus.com) and your own devices.
			Enjoy!
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		style(type='text/css').
			/* CLIENT-SPECIFIC STYLES */
			body, table, td, a{-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;} /* Prevent WebKit and Windows mobile changing default text sizes */
			table, td{mso-table-lspace: 0pt; mso-table-rspace: 0pt;} /* Remove spacing between tables in Outlook 2007 and up */
			img{-ms-interpolation-mode: bicubic;} /* Allow smoother rendering of resized image in Internet Explorer */
			/* RESET STYLES */
			img{border: 0; height: auto; line-height: 100%; outline: none; text-decoration: none;}
			table{border-collapse: collapse !important;}
			body{height: 100% !important; margin: 0 !important; padding: 0 !important; width: 100% !important;}
			/* iOS BLUE LINKS */
			a[x-apple-data-detectors] {
			color: inherit !important;
			text-decoration: none !important;
			font-size: inherit !important;
			font-family: inherit !important;
			font-weight: inherit !important;
			line-height: inherit !important;
			}
			/* MOBILE STYLES */
			@media screen and (max-width: 525px) {
			/* ALLOWS FOR FLUID TABLES */
			.wrapper {
			width: 100% !important;
			max-width: 100% !important;
			}
			/* ADJUSTS LAYOUT OF LOGO IMAGE */
			.logo img {
			margin: 0 auto !important;
			}
			/* USE THESE CLASSES TO HIDE CONTENT ON MOBILE */
			.mobile-hide {
			display: none !important;
			}
			.img-max {
			max-width: 100% !important;
			width: 100% !important;
			height: auto !important;
			}
			/* FULL-WIDTH TABLES */
			.responsive-table {
			width: 100% !important;
			}
			/* UTILITY CLASSES FOR ADJUSTING PADDING ON MOBILE */
			.padding {
			padding: 10px 5% 15px 5% !important;
			}
			.padding-meta {
			padding: 30px 5% 0px 5% !important;
			text-align: center;
			}
			.no-padding {
			padding: 0 !important;
			}
			.section-padding {
			padding: 50px 15px 50px 15px !important;
			}
			/* ADJUST BUTTONS ON MOBILE */
			.mobile-button-container {
			margin: 0 auto;
			width: 100% !important;
			}
			.mobile-button {
			padding: 15px !important;
			border: 0 !important;
			font-size: 16px !important;
			display: block !important;
			}
			}
			/* ANDROID CENTER FIX */
			div[style*="margin: 16px 0;"] { margin: 0 !important; }
	body(style='margin: 0 !important; padding: 0 !important;')
		// HIDDEN PREHEADER TEXT
		div(style='display: none; font-size: 1px; color: #fefefe; line-height: 1px; font-family: Helvetica, Arial, sans-serif; max-height: 0px; max-width: 0px; opacity: 0; overflow: hidden;')
			| Your 2016 Beer Tasting Notes!
		// HEADER
		table(border='0', cellpadding='0', cellspacing='0', width='100%')
			tr
				td(bgcolor='#000000', align='center')
					//if (gte mso 9)|(IE)
						table(align='center', border='0', cellspacing='0', cellpadding='0', width='500')
							tr
								td(align='center', valign='top', width='500')
					table.wrapper(border='0', cellpadding='0', cellspacing='0', width='100%', style='max-width: 500px;')
						tr
							td.logo(align='center', valign='top', style='padding: 15px 0;')
								h1(style='color:white;font-family: Helvetica, Arial, sans-serif;') #{session.name} Tasting Results
					//if (gte mso 9)|(IE)
			tr
				td.section-padding(bgcolor='#1b1b1b', align='center', style='padding: 20px 15px 40px 15px;')
					//if (gte mso 9)|(IE)
						table(align='center', border='0', cellspacing='0', cellpadding='0', width='500')
							tr
								td(align='center', valign='top', width='500')
					table.responsive-table(border='0', cellpadding='0', cellspacing='0', width='100%', style='max-width: 500px;')
						tr
							td
								// HERO IMAGE
								table(width='100%', border='0', cellspacing='0', cellpadding='0')
									tr
										td
											// COPY
											table(width='100%', border='0', cellspacing='0', cellpadding='0')
												tr
													td.padding(align='center', style='font-size: 25px; font-family: Helvetica, Arial, sans-serif; color: #adacac; padding-top: 30px;') LEADERBOARD
												tr
													table(width='100%', border='0', cellspacing='0', cellpadding='0')
														thead
															td.padding(align='center', style='padding: 20px 0 0 0; font-size: 16px; line-height: 25px; font-family: Helvetica, Arial, sans-serif; color: #666666;') place
															td.padding(align='center', style='padding: 20px 0 0 0; font-size: 16px; line-height: 25px; font-family: Helvetica, Arial, sans-serif; color: #666666;') taster 
															td.padding(align='center', style='padding: 20px 0 0 0; font-size: 16px; line-height: 25px; font-family: Helvetica, Arial, sans-serif; color: #666666;') correct guesses
														tbody
															each user, index in leaderboard 
																tr
																	td.padding(align='center', style='padding: 20px 20px 0 20px; font-size: 16px; line-height: 25px; font-family: Helvetica, Arial, sans-serif; color: #666666;')
																		if( index < 3 )
																			span(style='font-size:30px; color:white') ##{index + 1}
																	td.padding(align='left', style='padding: 20px 0 0 0; font-size: 16px; line-height: 25px; font-family: Helvetica, Arial, sans-serif; color: #666666;')
																		span(style='font-size:25px; font-weight: 100; color:white') #{user.name} 
																	td.padding(align='center', style='padding: 20px 0 0 0; font-size: 16px; line-height: 25px; font-family: Helvetica, Arial, sans-serif; color: #666666;')
																		span(style='font-size:25px; font-weight: 100; color:white') #{user.correct_guesses} 			
						
						tr
							td.section-padding(bgcolor='#313131', align='center', style='padding: 20px 15px 40px 15px;')
								//if (gte mso 9)|(IE)
									table(align='center', border='0', cellspacing='0', cellpadding='0', width='500')
										tr
											td(align='center', valign='top', width='500')
								table.responsive-table(border='0', cellpadding='0', cellspacing='0', width='100%', style='max-width: 500px;')
									tr
										td
											// HERO IMAGE
											table(width='100%', border='0', cellspacing='0', cellpadding='0')
												tr
													td
														// COPY
														table(width='100%', border='0', cellspacing='0', cellpadding='0')
															tr
																td.padding(align='center', style='font-size: 25px; font-family: Helvetica, Arial, sans-serif; color: #adacac; padding-top: 30px;') BEER RESULTS
															tr
																table(width='100%', border='0', cellspacing='0', cellpadding='0')
																	thead
																		tr
																			th.padding(align='center', style='padding: 20px 0 0 0; font-size: 16px; line-height: 25px; font-family: Helvetica, Arial, sans-serif; color: #666666;') round
																			th.padding(align='center', style='padding: 20px 0 0 0; font-size: 16px; line-height: 25px; font-family: Helvetica, Arial, sans-serif; color: #666666;') brand
																			th.padding(align='center', style='padding: 20px 0 0 0; font-size: 16px; line-height: 25px; font-family: Helvetica, Arial, sans-serif; color: #666666;') beer 
																			th.padding(align='center', style='padding: 20px 0 0 0; font-size: 16px; line-height: 25px; font-family: Helvetica, Arial, sans-serif; color: #666666;') rating
																	tbody
																		each beer, index in results 
																			tr
																				td.padding(align='center', style='padding: 20px 20px 0 20px; font-size: 16px; line-height: 25px; font-family: Helvetica, Arial, sans-serif; color: #666666;')
																					span(style='font-size:20px; color:white') #{beer.round_number}
																				td.padding(align='left', style='padding: 20px 0 0 0; font-size: 16px; line-height: 25px; font-family: Helvetica, Arial, sans-serif; color: #666666;')
																					span(style='font-size:20px; font-weight: 100; color:white') #{beer.brand} 
																				td.padding(align='left', style='padding: 20px 0 0 0; font-size: 16px; line-height: 25px; font-family: Helvetica, Arial, sans-serif; color: #666666;')
																					span(style='font-size:20px; font-weight: 100; color:white') #{beer.name} 
																				td.padding(align='center', style='padding: 20px 0 0 0; font-size: 16px; line-height: 25px; font-family: Helvetica, Arial, sans-serif; color: #666666;')
																					span(style='font-size:20px; font-weight: 100; color:white') #{beer.rating}
									tr
										td.section-padding(bgcolor='#1b1b1b', align='center', style='padding: 20px 15px 40px 15px;')
											//if (gte mso 9)|(IE)
												table(align='center', border='0', cellspacing='0', cellpadding='0', width='500')
													tr
														td(align='center', valign='top', width='500')
											table.responsive-table(border='0', cellpadding='0', cellspacing='0', width='100%', style='max-width: 500px;')
												tr
													td
														// HERO IMAGE
														table(width='100%', border='0', cellspacing='0', cellpadding='0')
															tr
																td
																	// COPY
																	table(width='100%', border='0', cellspacing='0', cellpadding='0')
																		tr
																			td.padding(align='center', style='font-size: 25px; font-family: Helvetica, Arial, sans-serif; color: #adacac; padding-top: 30px;') YOUR NOTES
																		tr
																			table(width='100%', border='0', cellspacing='0', cellpadding='0')
																				thead
																					tr
																						th.padding(align='left', style='padding: 20px 0 0 0; font-size: 16px; line-height: 25px; font-family: Helvetica, Arial, sans-serif; color: #666666;') beer 
																						th.padding(align='center', style='padding: 20px 0 0 0; font-size: 16px; line-height: 25px; font-family: Helvetica, Arial, sans-serif; color: #666666;') guessed correct
																						th.padding(align='center', style='padding: 20px 0 0 0; font-size: 16px; line-height: 25px; font-family: Helvetica, Arial, sans-serif; color: #666666;') rating 
																				tbody
																					each note in summary 
																						tr
																							td.padding(align='left', style='padding: 20px 0 0 0; font-size: 16px; line-height: 25px; font-family: Helvetica, Arial, sans-serif; color: #666666;')
																								span(style='font-size:20px; font-weight: 100; color:white') #{note.name} 
																							td.padding(align='center', style='padding: 20px 0 0 0; font-size: 16px; line-height: 25px; font-family: Helvetica, Arial, sans-serif; color: #666666;')
																								span(style='font-size:20px; font-weight: 100; color:white') 
																									case note.guessed_correct
																										when 1
																											span(style="color:#38fb38; font-weight:bold") ✓
																										when 0
																											span(style='font-size:14px; font-style:italic') 
																												span(style="color:red") ✗ 
																												span #{note.guess_name}
																							td.padding(align='center', style='padding: 20px 0 0 0; font-size: 16px; line-height: 25px; font-family: Helvetica, Arial, sans-serif; color: #666666;')
																								span(style='font-size:20px; font-weight: 100; color:white') #{note.rating} 
																						tr
																							td.padding(colspan='3', align='left', style='padding: 20px 0 0 0; font-size: 16px; line-height: 25px; font-family: Helvetica, Arial, sans-serif; color: #666666;')
																								span(style="color:white; font-weight:100") Notes: 
																								span #{note.notes}
